{{ header }}
<div class="breadcrumb w">
	 			您当前的位置：
				<span>
					<a href="/" target="_self">首页</a>
					> 买品
				</span>
			</div>
			<!-- 分类 -->
			<div id="classify">
				<div class="filterclassify">
					<div class="containercy">
					 <div class="box">
						<div class="title-h">所有分类</div>
						<dl>
						 <dt>类 型：</dt>
						 <dd>
							<a href="#" rel="" name="mode" class="all on">全部</a>
							<a href="#" rel="油画" name="mode" class="sx_child">油画</a>
							<a href="#" rel="版画" name="mode" class="sx_child">版画</a>
							<a href="#" rel="绘画" name="mode" class="sx_child">绘画</a>
							<a href="#" rel="国画" name="mode" class="sx_child">国画</a>
							<a href="#" rel="水彩画（粉）" name="mode" class="sx_child">水彩画（粉）</a>
							<a href="#" rel="水墨" name="mode" class="sx_child">水墨</a>
							<a href="#" rel="素描" name="mode" class="sx_child">素描</a>
							<a href="#" rel="工笔画" name="mode" class="sx_child">工笔画</a>
				
						 </dd>
						</dl>
						<dl>
						 <dt>题 材：</dt>
						 <dd>
							<a href="#" rel="" name="stage" class="all on">全部</a>
							<a href="#" rel="山水" name="stage" class="sx_child">山水</a>
							<a href="#" rel="人物" name="stage" class="sx_child">人物</a>
							<a href="#" rel="动物" name="stage" class="sx_child">动物</a>
							<a href="#" rel="植物" name="stage" class="sx_child">植物</a>
							<a href="#" rel="风景" name="stage" class="sx_child">风景</a>
							<a href="#" rel="书法" name="stage" class="sx_child">书法</a>
							<a href="#" rel="其他" name="stage" class="sx_child">其他</a>
							
						 </dd>
						</dl>
						<dl>
						 <dt>年 代：</dt>
						 <dd>
							<a href="#" rel="" name="sector" class="all on">全部</a>
							<a href="#" rel="1990-2000" name="sector" class="sx_child">1990-2000</a>
							<a href="#" rel="2000-2005" name="sector" class="sx_child">2000-2005</a>
							<a href="#" rel="2005-2010" name="sector" class="sx_child">2005-2010</a>
							<a href="#" rel="2010-2015" name="sector" class="sx_child">2010-2015</a>
							<a href="#" rel="2015-2017" name="sector" class="sx_child">2015-2017</a>
							<a href="#" rel="2018" name="sector" class="sx_child">2018</a>
							<a href="#" rel="1980" name="sector" class="sx_child">1980</a>
							
						 </dd>
						</dl>
						<dl>
						 <dt>价 格：</dt>
						 <dd>
							<a href="#" rel="" name="board" class="all on">全部</a>
							<a href="#" rel="1000-5000" name="board" class="sx_child">1000-5000</a>
							<a href="#" rel="5000-1万" name="board" class="sx_child">1万-2万</a>
							<a href="#" rel="2万-5万" name="board" class="sx_child">2万-5万</a>
							<a href="#" rel="5万-10万" name="board" class="sx_child">5万-10万</a>
							<a href="#" rel="10万-20万" name="board" class="sx_child">10万-20万</a>
							<a href="#" rel="20万-50万" name="board" class="sx_child">20万-50万</a>
							<a href="#" rel="50万-100万" name="board" class="sx_child">50万-100万</a>
					
						 </dd>
						</dl>
						<dl>
						 <dt>形 状：</dt>
						 <dd>
							<a href="#"  rel="" name="area" class="all on">全部</a>
							<a href="#"  rel="斗方" name="area" class="sx_child">斗方</a>
							<a href="#"  rel="横幅" name="area" class="sx_child">横幅</a>
							<a href="#"  rel="竖幅" name="area" class="sx_child">竖幅</a>
							<a href="#"  rel="圆形" name="area" class="sx_child">圆形</a>
							<a href="#"  rel="扇面" name="area" class="sx_child">扇面</a>
							
						 </dd>
						</dl>
					 </div>
					</div>
				</div>
			</div>
			<div class="content_bottom" style="background-color: #fff;">
			 <div style="width: 955px;margin: 0 auto;">
				<div class="container clearf">
				 <div class="fr">
					<div class="filter">
					 <select>
						<option value="0">上架时间</option>
						<option value="4">上架时间最新</option>
						<option value="3">上架时间最早</option>
					 </select>
					 <select>
						<option value="0">价格</option>
						<option value="1">价格从低到高</option>
						<option value="2">价格从高到低</option>
					 </select>
					 <select>
						<option value="false">作品状态</option>
						<option value="false">全部</option>
						<option value="true">未售作品</option>
					 </select>
					</div>
				 </div>
				</div>
			 </div>
			 <div class="content">
				<div class="commodity">
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item right">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				</div>
				<div class="commodity">
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item right">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				</div>
				<div class="commodity">
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item right">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				</div>
				<div class="commodity">
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				 <div class="col-2 item right">
					<div class="card">
					 <div class="shangpin">
						<a href="shop/xiangqingye.html" target="_blank"><img src="picture/1.jpg" alt="" style="width: 223px;height: 223px;"></a>
					 </div>
					 <div class="col-2 info">
						<div class="auth clearf">
						 <div class="avatar">
							<span class="content1-picture"> 
							 <img class="head_portrait" src="picture/head/head_portrait.jpg" /> 
							</span>
						 </div>
						 <div class="nickname">昵称昵称</div>
						 <div class="jiage">¥1000.00</div>
						</div>
						<div class="anno">
						 <div class="title">窗外的雨</div>
						 <div class="leixing">布面油画  135cm×75cm</div>
						</div>
					 </div>
					</div>
				 </div>
				</div>

				</div>
				<!--分页-->
				<div class="pages">
					<a class="active" href="#">上一页</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
					<a href="#">7</a>
					<a href="#">下一页</a>
				</div>

				</div>

 	<script src="js/jquery-1.10.2.min.js"></script>
 	<script src="js/tagselect.js"></script>
 	<script>  
		$(function(){
		 	new SelectTag({
				child : ".sx_child", //所有筛选范围内的子类
				over : 'on', //选中状态样式名称
				all : ".all"
	 		});
		})
 	</script>
</html>
{{ footer }}
